<h2>Create</h2>

<form id="create-form">

    <div class="row">

        <div class="col-md-3">
            <p>Title</p>
        </div>

        <div class="col-md-9">
            <input id="creator-title" placeholder="Title of the jingle" class="form-control" required>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3">
            <p>Price</p>
        </div>

        <div class="col-md-9">
            <input id="creator-price" name="price" class="form-control" placeholder="0.01 (in ETH)" required>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3">
            <p>Display Pitch</p>
        </div>

        <div class="col-md-9">
            <select id="creator-display-pitch">
                {% for startingNote in Midi.StartingNotes %}
                <option value="{{ startingNote.transposition }}" >{{ startingNote.id }}</option>
                {% endfor %}
            </select>
        </div>

    </div>

    <h3>Music Writer</h3>

    <div id="sequencer-content">
        {% include "sequencer.html" %}
    </div>

    <div class="row">

        <div class="col-md-12">

            <h2>Hearing is Believing</h2>

            <div id="note-creator-listen"></div>

            <div id="note-creator-view"></div>

            <div id="music-note-created" class="alert alert-success"></div>

            <button type="submit" class="btn btn-success btn-block">Create Jingle</button>

        </div>

    </div>

</form>
