<!-- Main header -->

<div id="header" class="row">

    <div class="col-md-4">

        <h1><a href="/">Motif</a></h1>

    </div>

    <div id="header-links" class="col-md-4">

        <a href="/#/explore">Explore</a>

        <a href="/#/create">Create</a>

        <a href="/#/composers">Composers</a>

        <a href="/#/profile">Profile</a>

    </div>

    <div id="header-info" class="col-md-4" style="display: block">

        <p>Address : <b id="address-section"></b></p>
        <p>Network : <b id="network-section"></b></p>

    </div>

</div>
