<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width">

        <title>Motif</title>

        <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/font-awesome.min.css" rel="stylesheet">

        <link href="/css/abcjs-midi.css" rel="stylesheet">

        <link href="/css/app.css" rel="stylesheet" type="text/css">

    </head>

    <body>

        {% include "header.html" %}

        <div id="app">

            <div id="splash">
                {% include "splash.html" %}
            </div>

            <div id="explore">
                {% include "explore.html" %}
            </div>

            <div id="creator">
                {% include "creator.html" %}
            </div>

            <div id="composers"></div>

            <div id="profile"></div>

            <div id="jingle"></div>

            <div id="account"></div>

        </div>

        <script>

var EM = {};

        </script>

        <script src="/js/lib/abcjs_midi_3.3.2-min.js"></script>

        <script src="/build/App.js"></script>

    </body>

</html>
