<h2>{{ jingle.name }}</h2>

<p>Creator <a href="/accounts/{{ jingle.account.address }}" class="account-link">{{ jingle.account.address }}</a></p>

{% if not jingle.owner %}

<div>

    <a class="btn btn-success btn-buy-piece">Buy Piece {{ jingle.price }} ETH</a>

</div>

{% endif %}

<br>

<h4>Starting Note

<select class="jingle-transposition">
    {% for startingNote in Midi.StartingNotes %}
    <option value="{{ startingNote.transposition }}">{{ startingNote.id }}</option>
    {% endfor %}
</select>

</h4>

<div class="jingle-abc-midi"></div>

<div class="jingle-abc-view"></div>

{% if jingle.owner %}

<h4>You Own This</h4>

<p>Auction</p>

<form id="auction-form">

    <div class="row">

        <div class="col-md-2">
            <p>Price</p>
        </div>

        <div class="col-md-10">
            <input class="form-control auction-price" placeholder="0.05 ETH">
        </div>

    </div>

    <button type="submit" class="btn btn-success">Put up for Auction</button>

</form>

{% endif %}
