<h2> {{ account.name }}</h2>
<h3>{{ account.address }}</h3>

<h4>Edit</h4>

<form id="profile-edit-form">

    <div class="row">

        <div class="col-md-4">
            <p>Name</p>
        </div>

        <div class="col-md-8">
            <input class="form-control" name="name">
        </div>

    </div>

</form>

<h4>Jingles</h4>

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Kudos</th>
    </tr>

    {% for jingle in account.jingles %}
    <tr>
        <td><a href="/jingle/{{ jingle.id }}">{{ jingle.id }}</a></td>
        <td><a href="/jingle/{{ jingle.id }}">{{ jingle.name }}</a></td>
        <td>0</td>
    </tr>
    {% endfor %}

</table>
