<!--<h2> {{ account.name }}</h2>-->
<h3>{{ account.address }}</h3>

<h4>Edit</h4>

<form id="profile-edit-form">

    <div class="row">

        <div class="col-md-4">
            <p>Name</p>
        </div>

        <div class="col-md-8">
            <input class="form-control" name="name">
        </div>

    </div>

</form>

<h4>Motifs</h4>

{% if account.jingles.length %}

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>

    {% for jingle in account.jingles %}
    <tr>
        <td><a href="/motif/{{ jingle.id }}">{{ jingle.id }}</a></td>
        <td><a href="/motif/{{ jingle.id }}">{{ jingle.name }}</a></td>
        <td><b>{{ jingle.price }}</b> ETH</td>
    </tr>
    {% endfor %}

</table>

{% else %}

<p>You need to create a motif! <a href="/create">Click here</a> or "Create" to start creating</p>

{% endif %}
